.img-wallpaper{
  background: #d8dce6 url("../img/wallpaper.jpg") no-repeat center;
  width: 100%;
  z-index: 50;
  padding-bottom: 56.111%;
  background-size: 100%;
}

.img-profil{
  background: #d8dce6 url("../img/gugathis.jpg") no-repeat center;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  z-index: 100;
  margin-top: -70px;
  border: 5px solid #fff;
  border-radius: 150px;
  position: relative;
}

.navbar .center {
    font-weight: 600;
}

i.icon.icon-javascript {
    width: 29px;
    height: 29px;
    background-image: url(../img/icon-javascript.png);
    border-radius: 6px;
}

i.icon.icon-react {
    width: 29px;
    height: 29px;
    background-image: url(../img/icon-react.png);
    border-radius: 6px;
}

i.icon.icon-knockout {
    width: 29px;
    height: 29px;
    background-image: url(../img/icon-knockout.png);
    border-radius: 6px;
}

i.icon.icon-nodejs {
    width: 29px;
    height: 29px;
    background-image: url(../img/icon-nodejs.png);
    border-radius: 6px;
}

i.icon.icon-sharepoint {
    width: 29px;
    height: 29px;
    background-image: url(../img/icon-sharepoint.png);
    border-radius: 6px;
}

i.icon.icon-php {
    width: 29px;
    height: 29px;
    background-image: url(../img/icon-php.png);
    border-radius: 6px;
}

i.icon.icon-sql {
    width: 29px;
    height: 29px;
    background-image: url(../img/icon-sql.png);
    border-radius: 6px;
}

i.icon.icon-sqlite {
  width: 29px;
  height: 29px;
  background-image: url(../img/icon-sqlite.png);
  border-radius: 6px;
}

i.icon.icon-csharp {
  width: 29px;
  height: 29px;
  background-image: url(../img/icon-csharp.png);
  border-radius: 6px;
}

i.icon.icon-mysql {
    width: 29px;
    height: 29px;
    background-image: url(../img/icon-mysql.png);
    border-radius: 6px;
}

i.icon.icon-mongodb {
    width: 29px;
    height: 29px;
    background-image: url(../img/icon-mongodb.png);
    border-radius: 6px;
}

i.icon.icon-html {
    width: 29px;
    height: 29px;
    background-image: url(../img/icon-html.png);
    border-radius: 6px;
}

i.icon.icon-css {
    width: 29px;
    height: 29px;
    background-image: url(../img/icon-css.png);
    border-radius: 6px;
}

i.icon.icon-linux {
    width: 29px;
    height: 29px;
    background-image: url(../img/icon-linux.png);
    border-radius: 6px;
}

i.icon.icon-windows-server {
    width: 29px;
    height: 29px;
    background-image: url(../img/icon-windows-server.png);
    border-radius: 6px;
}

i.icon.icon-microsoft-office {
    width: 29px;
    height: 29px;
    background-image: url(../img/icon-office.png);
    border-radius: 6px;
}

.text-subtitle{
  font-weight: 600
}

.card-header-title{
  font-weight: 600
}

.hands-on-training {
    right: 0;
    font-size: 11px;
    color: red;
}

.large-header {
   position: relative;
   width: 100%;
   background: black;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 0;
}

.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
   text-transform: uppercase;
   font-size: 4.2em;
   letter-spacing: 0.1em;
}

.main-title .thin {
   font-weight: 200;
}

@media only screen and (max-width: 768px) {
   .demo .main-title {
      font-size: 3em;
   }
}

@media (min-width: 600px) {
  .card {
      width: 400px;
      margin: auto;
      margin-top: 10px;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .img-wallpaper{
    padding-bottom: 35.111%;
  }
}

@media (min-width: 1001px) and (max-width: 1500px) {
  .img-wallpaper{
    padding-bottom: 23.111%;
  }
}

@media (min-width: 1501px) {
  .img-wallpaper{
    padding-bottom: 13.111%;
  }
}
